<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">     
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="table">
		    <div class="tr">
		        <div class="d1">
		        	<span class="btn-group">
						<a href="/" class="btn">
							<pre>&lt; </pre>
						</a>
					</span>
		        </div>
		        <div class="d2">	
					<!-- <span class="header">
						<span class="btn-group">YOUR EVENTS</span>
					</span> -->
		        </div>
		        <!-- <div class="d3"></div> -->
		    </div>
		</div>
		{{#if isScheduled}}
			<p>You have scheduled your event! The time you selected will be added to yours and all participants' Google calendars.</p>
		{{else}}
			{{#if isOrganizer}}
				<p>You have successfully created your event. The other attendees have been sent a notification asking them to confirm the event before you may select a time.</p>
			{{else}}
				<p>Thank you for confirming this event. Once all of the invites have been accepted, the organizer of this event will be able to select a time that works for everyone.</p>
			{{/if}}
		{{/if}}
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
