<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">     
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="table">
		    <div class="tr">
		        <div class="d1">
		        	<span class="btn-group">
						<a href="/" class="btn">
							<pre>&lt; </pre>
						</a>
					</span>
		        </div>
		        <div class="d2">	
					<span class="header">
						<span class="btn-group">YOUR EVENTS</span>
					</span>
		        </div>
		        <div class="d3"></div>
		    </div>
		</div>

		<!-- <a href="/edit">
		    <button id="edit" class="btn btn-primary btn-lg">Edit Event</button>
	    </a> -->

	    <div class="buttons">
			<a href="/readyToSchedule">
		    	<button id="create" class="btn btn-primary btn-lg">Confirmed Events</button>
		    </a>
			<a href="/invitations">
		    	<button id="view" class="btn btn-primary btn-lg">My Invites</button>
		    </a>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
