

label, input {
    display: block;
}

button {
     margin-top: 5px;
}

/*label {
    margin-bottom: 20px;
}*/

/*.back-button {
    font-weight: bold;
    font-size: 15px;
}*/

.alert {
  color:red;
  hover:{text-decoration: underline overline; color: red;}
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table {
    display:table;
    width:100%;
    margin-bottom: 0px;
}
.tr {
    display:table-row;
}
.d1 {
    display:table-cell;
    width:20%;
    padding-bottom: 20px;
    padding-left: 15px;
}
.d2 {
    display:table-cell;
    text-align:center;
    width:60%;
    padding-top: 5px;
}
.d3 {
    display:table-cell;
    text-align:right;
    width:20%;
    padding-right: 15px;
}

/* d4 and d5 are used for a two column format, as seen in the preference
    screen, where the time fields are located. */
.d4 {
    display:table-cell;
    text-align:left;
    width:90px;
}
.d5 {
    display:table-cell;
    text-align:left;
    width:80px;
}
.d6 {
    display:table-cell;
    text-align:center;
    width:50%;
    padding-right: 10px;
    padding-right: 10px;
}
.d7 {
    display:table-cell;
    text-align:center;
    width:50%;
    padding-right: 10px;
}

.d12 {
    display:table-cell;
    width:50%;
}
.d13 {
    display:table-cell;
    text-align:right;
    width:30%;
}

.tableLeftHalf {
    display:table-cell;
    width:20%;
    font-weight: bold;
    font-size: 23px;
    text-align:right;
}

.tableRightHalf {
    display:table-cell;
    width:80%;
    font-weight: bold;
}

/*.divider{
    width:5px;
    height:auto;
    display:inline-block;
}*/

/* applies to anything of class "example-class-selector" */
.example-class-selector {
    margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
    /* Colors are in hexadecimal: http://www.colorpicker.com/ */    
    color: #CC00AA;
}

.header {
    font-weight: bold;
    font-size: 25px;
}

.list {
    font-size: 13.5px;
}

.inline-button {
    display: inline-block;
}

.jumbotron {
    /*position: relative;*/
    background: none;
    /*padding-top: 100px;*/
    text-align: center;
    /*height: 600px;*/
    /*width: 100%;
    margin: auto;
    padding: 0 15px;
    width: 90%;
    height: 437px;*/
}

.jumbotron:after {
     content:"";/*
     background: url("../images/scheduleusicon0.png");*/
     /*background-repeat: no-repeat;*/
     /*background-size: cover;*/
     opacity: 0.9;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     /*position: absolute;*/
     z-index: -1;   
}


img {
    margin: auto;
    width: 90%;
    color: #6e6e6e;
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/ 
}
   

}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.buttons {
     text-align: center;
}
